/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.SecurityResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.SecuritySubscriptionRequest;
import com.verizon.m5gedge.models.SecuritySubscriptionResult;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AccountSubscriptionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public AccountSubscriptionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves the total number of SIM-Secure for IoT subscription licenses purchased for your
     * account by license type, and lists the number of licenses assigned and available for each
     * license type.
     * @param  body  Required parameter: Request for account subscription.
     * @param  xRequestID  Optional parameter: Transaction Id.
     * @return    Returns the SecuritySubscriptionResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SecuritySubscriptionResult> listAccountSubscriptions(
            final SecuritySubscriptionRequest body,
            final String xRequestID) throws ApiException, IOException {
        return prepareListAccountSubscriptionsRequest(body, xRequestID).execute();
    }

    /**
     * Retrieves the total number of SIM-Secure for IoT subscription licenses purchased for your
     * account by license type, and lists the number of licenses assigned and available for each
     * license type.
     * @param  body  Required parameter: Request for account subscription.
     * @param  xRequestID  Optional parameter: Transaction Id.
     * @return    Returns the SecuritySubscriptionResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SecuritySubscriptionResult>> listAccountSubscriptionsAsync(
            final SecuritySubscriptionRequest body,
            final String xRequestID) {
        try { 
            return prepareListAccountSubscriptionsRequest(body, xRequestID).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listAccountSubscriptions.
     */
    private ApiCall<ApiResponse<SecuritySubscriptionResult>, ApiException> prepareListAccountSubscriptionsRequest(
            final SecuritySubscriptionRequest body,
            final String xRequestID) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<SecuritySubscriptionResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.M2M.value())
                        .path("/v1/accounts/subscriptions/actions/list")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Request-ID")
                                .value(xRequestID).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SecuritySubscriptionResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized request.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Request forbidden.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new SecurityResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}