/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.ConnectivityManagementResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.AsynchronousRequestResult;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AccountRequestsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public AccountRequestsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Returns the current status of an asynchronous request that was made for a single device.
     * @param  aname  Required parameter: Account name.
     * @param  requestId  Required parameter: UUID from synchronous response.
     * @return    Returns the AsynchronousRequestResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<AsynchronousRequestResult> getCurrentAsynchronousRequestStatus(
            final String aname,
            final String requestId) throws ApiException, IOException {
        return prepareGetCurrentAsynchronousRequestStatusRequest(aname, requestId).execute();
    }

    /**
     * Returns the current status of an asynchronous request that was made for a single device.
     * @param  aname  Required parameter: Account name.
     * @param  requestId  Required parameter: UUID from synchronous response.
     * @return    Returns the AsynchronousRequestResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<AsynchronousRequestResult>> getCurrentAsynchronousRequestStatusAsync(
            final String aname,
            final String requestId) {
        try { 
            return prepareGetCurrentAsynchronousRequestStatusRequest(aname, requestId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getCurrentAsynchronousRequestStatus.
     */
    private ApiCall<ApiResponse<AsynchronousRequestResult>, ApiException> prepareGetCurrentAsynchronousRequestStatusRequest(
            final String aname,
            final String requestId) throws IOException {
        return new ApiCall.Builder<ApiResponse<AsynchronousRequestResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/accounts/{aname}/requests/{requestId}/status")
                        .templateParam(param -> param.key("aname").value(aname)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("requestId").value(requestId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, AsynchronousRequestResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}