/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.CreateSubscrIpTionRequest;
import com.verizon.m5gedge.models.DeleteSubscrIpTionRequest;
import com.verizon.m5gedge.models.QuerySubscrIpTionRequest;
import com.verizon.m5gedge.models.SubscrIpTion;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CloudConnectorSubscrIpTionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CloudConnectorSubscrIpTionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a subscription to define a streaming channel that sends data from devices in the
     * account to an endpoint defined in a target resource.
     * @param  body  Required parameter: The request body provides the details of the subscription
     *         that you want to create.
     * @return    Returns the SubscrIpTion wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SubscrIpTion> createSubscrIpTion(
            final CreateSubscrIpTionRequest body) throws ApiException, IOException {
        return prepareCreateSubscrIpTionRequest(body).execute();
    }

    /**
     * Create a subscription to define a streaming channel that sends data from devices in the
     * account to an endpoint defined in a target resource.
     * @param  body  Required parameter: The request body provides the details of the subscription
     *         that you want to create.
     * @return    Returns the SubscrIpTion wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SubscrIpTion>> createSubscrIpTionAsync(
            final CreateSubscrIpTionRequest body) {
        try { 
            return prepareCreateSubscrIpTionRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createSubscrIpTion.
     */
    private ApiCall<ApiResponse<SubscrIpTion>, ApiException> prepareCreateSubscrIpTionRequest(
            final CreateSubscrIpTionRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<SubscrIpTion>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.CLOUD_CONNECTOR.value())
                        .path("/subscriptions")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SubscrIpTion.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Search for subscriptions by property values. Returns an array of all matching subscription
     * resources.
     * @param  body  Required parameter: The request body specifies fields and values to match.
     * @return    Returns the List of SubscrIpTion wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<SubscrIpTion>> querySubscrIpTion(
            final QuerySubscrIpTionRequest body) throws ApiException, IOException {
        return prepareQuerySubscrIpTionRequest(body).execute();
    }

    /**
     * Search for subscriptions by property values. Returns an array of all matching subscription
     * resources.
     * @param  body  Required parameter: The request body specifies fields and values to match.
     * @return    Returns the List of SubscrIpTion wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<SubscrIpTion>>> querySubscrIpTionAsync(
            final QuerySubscrIpTionRequest body) {
        try { 
            return prepareQuerySubscrIpTionRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for querySubscrIpTion.
     */
    private ApiCall<ApiResponse<List<SubscrIpTion>>, ApiException> prepareQuerySubscrIpTionRequest(
            final QuerySubscrIpTionRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<List<SubscrIpTion>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.CLOUD_CONNECTOR.value())
                        .path("/subscriptions/actions/query")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        SubscrIpTion[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Remove a subscription from a ThingSpace account.
     * @param  body  Required parameter: The request body identifies the subscription to delete.
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteSubscrIpTion(
            final DeleteSubscrIpTionRequest body) throws ApiException, IOException {
        return prepareDeleteSubscrIpTionRequest(body).execute();
    }

    /**
     * Remove a subscription from a ThingSpace account.
     * @param  body  Required parameter: The request body identifies the subscription to delete.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteSubscrIpTionAsync(
            final DeleteSubscrIpTionRequest body) {
        try { 
            return prepareDeleteSubscrIpTionRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deleteSubscrIpTion.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteSubscrIpTionRequest(
            final DeleteSubscrIpTionRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.CLOUD_CONNECTOR.value())
                        .path("/subscriptions/actions/delete")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}