/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.DeviceDiagnosticsResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.DeviceResetRequest;
import com.verizon.m5gedge.models.DiagnosticsObservationResult;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DiagnosticsFactoryResetController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DiagnosticsFactoryResetController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Performs a device reboot or a factory reset on the modem portion of the device.
     * @param  body  Required parameter: A request to perform a device reboot.
     * @return    Returns the DiagnosticsObservationResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DiagnosticsObservationResult> decivesRestart(
            final DeviceResetRequest body) throws ApiException, IOException {
        return prepareDecivesRestartRequest(body).execute();
    }

    /**
     * Performs a device reboot or a factory reset on the modem portion of the device.
     * @param  body  Required parameter: A request to perform a device reboot.
     * @return    Returns the DiagnosticsObservationResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DiagnosticsObservationResult>> decivesRestartAsync(
            final DeviceResetRequest body) {
        try { 
            return prepareDecivesRestartRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for decivesRestart.
     */
    private ApiCall<ApiResponse<DiagnosticsObservationResult>, ApiException> prepareDecivesRestartRequest(
            final DeviceResetRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<DiagnosticsObservationResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_DIAGNOSTICS.value())
                        .path("/devices/actions/restart")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DiagnosticsObservationResult.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new DeviceDiagnosticsResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}