/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.DeviceLocationResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.AccountConsentCreate;
import com.verizon.m5gedge.models.AccountConsentUpdate;
import com.verizon.m5gedge.models.ConsentRequest;
import com.verizon.m5gedge.models.ConsentTransactionID;
import com.verizon.m5gedge.models.DeviceLocationSuccessResult;
import com.verizon.m5gedge.models.DevicesConsentResult;
import com.verizon.m5gedge.models.GetAccountDeviceConsent;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ExclusionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ExclusionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Get the consent settings for the entire account or device list in an account.
     * @param  accountName  Required parameter: The numeric name of the account.
     * @param  deviceId  Optional parameter: The IMEI of the device being queried
     * @return    Returns the GetAccountDeviceConsent wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GetAccountDeviceConsent> devicesLocationGetConsentAsync(
            final String accountName,
            final String deviceId) throws ApiException, IOException {
        return prepareDevicesLocationGetConsentAsyncRequest(accountName, deviceId).execute();
    }

    /**
     * Get the consent settings for the entire account or device list in an account.
     * @param  accountName  Required parameter: The numeric name of the account.
     * @param  deviceId  Optional parameter: The IMEI of the device being queried
     * @return    Returns the GetAccountDeviceConsent wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GetAccountDeviceConsent>> devicesLocationGetConsentAsyncAsync(
            final String accountName,
            final String deviceId) {
        try { 
            return prepareDevicesLocationGetConsentAsyncRequest(accountName, deviceId).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for devicesLocationGetConsentAsync.
     */
    private ApiCall<ApiResponse<GetAccountDeviceConsent>, ApiException> prepareDevicesLocationGetConsentAsyncRequest(
            final String accountName,
            final String deviceId) throws IOException {
        return new ApiCall.Builder<ApiResponse<GetAccountDeviceConsent>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/devicelocations/action/consents")
                        .queryParam(param -> param.key("accountName")
                                .value(accountName))
                        .queryParam(param -> param.key("deviceId")
                                .value(deviceId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GetAccountDeviceConsent.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a consent record to use location services as an asynchronous request.
     * @param  body  Optional parameter: Account details to create a consent record.
     * @return    Returns the ConsentTransactionID wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ConsentTransactionID> devicesLocationGiveConsentAsync(
            final AccountConsentCreate body) throws ApiException, IOException {
        return prepareDevicesLocationGiveConsentAsyncRequest(body).execute();
    }

    /**
     * Create a consent record to use location services as an asynchronous request.
     * @param  body  Optional parameter: Account details to create a consent record.
     * @return    Returns the ConsentTransactionID wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ConsentTransactionID>> devicesLocationGiveConsentAsyncAsync(
            final AccountConsentCreate body) {
        try { 
            return prepareDevicesLocationGiveConsentAsyncRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for devicesLocationGiveConsentAsync.
     */
    private ApiCall<ApiResponse<ConsentTransactionID>, ApiException> prepareDevicesLocationGiveConsentAsyncRequest(
            final AccountConsentCreate body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<ConsentTransactionID>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/devicelocations/action/consents")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ConsentTransactionID.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update the location services consent record for an entire account.
     * @param  body  Optional parameter: Account details to update a consent record.
     * @return    Returns the ConsentTransactionID wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ConsentTransactionID> devicesLocationUpdateConsent(
            final AccountConsentUpdate body) throws ApiException, IOException {
        return prepareDevicesLocationUpdateConsentRequest(body).execute();
    }

    /**
     * Update the location services consent record for an entire account.
     * @param  body  Optional parameter: Account details to update a consent record.
     * @return    Returns the ConsentTransactionID wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ConsentTransactionID>> devicesLocationUpdateConsentAsync(
            final AccountConsentUpdate body) {
        try { 
            return prepareDevicesLocationUpdateConsentRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for devicesLocationUpdateConsent.
     */
    private ApiCall<ApiResponse<ConsentTransactionID>, ApiException> prepareDevicesLocationUpdateConsentRequest(
            final AccountConsentUpdate body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<ConsentTransactionID>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/devicelocations/action/consents")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ConsentTransactionID.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This consents endpoint sets a new exclusion list.
     * @param  body  Required parameter: Request to update account consent exclusion list.
     * @return    Returns the DeviceLocationSuccessResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeviceLocationSuccessResult> excludeDevices(
            final ConsentRequest body) throws ApiException, IOException {
        return prepareExcludeDevicesRequest(body).execute();
    }

    /**
     * This consents endpoint sets a new exclusion list.
     * @param  body  Required parameter: Request to update account consent exclusion list.
     * @return    Returns the DeviceLocationSuccessResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeviceLocationSuccessResult>> excludeDevicesAsync(
            final ConsentRequest body) {
        try { 
            return prepareExcludeDevicesRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for excludeDevices.
     */
    private ApiCall<ApiResponse<DeviceLocationSuccessResult>, ApiException> prepareExcludeDevicesRequest(
            final ConsentRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<DeviceLocationSuccessResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/consents")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("*/*").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeviceLocationSuccessResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Removes devices from the exclusion list so that they can be located with Device Location
     * Services requests.
     * @param  accountName  Required parameter: The numeric name of the account.
     * @param  deviceList  Required parameter: A list of the device IDs to remove from the exclusion
     *         list.
     * @return    Returns the DeviceLocationSuccessResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeviceLocationSuccessResult> removeDevicesFromExclusionList(
            final String accountName,
            final String deviceList) throws ApiException, IOException {
        return prepareRemoveDevicesFromExclusionListRequest(accountName, deviceList).execute();
    }

    /**
     * Removes devices from the exclusion list so that they can be located with Device Location
     * Services requests.
     * @param  accountName  Required parameter: The numeric name of the account.
     * @param  deviceList  Required parameter: A list of the device IDs to remove from the exclusion
     *         list.
     * @return    Returns the DeviceLocationSuccessResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeviceLocationSuccessResult>> removeDevicesFromExclusionListAsync(
            final String accountName,
            final String deviceList) {
        try { 
            return prepareRemoveDevicesFromExclusionListRequest(accountName, deviceList).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for removeDevicesFromExclusionList.
     */
    private ApiCall<ApiResponse<DeviceLocationSuccessResult>, ApiException> prepareRemoveDevicesFromExclusionListRequest(
            final String accountName,
            final String deviceList) throws IOException {
        return new ApiCall.Builder<ApiResponse<DeviceLocationSuccessResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/consents")
                        .queryParam(param -> param.key("accountName")
                                .value(accountName))
                        .queryParam(param -> param.key("deviceList")
                                .value(deviceList))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeviceLocationSuccessResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This consents endpoint retrieves a list of excluded devices in an account.
     * @param  accountName  Required parameter: Account identifier in "##########-#####".
     * @param  startIndex  Required parameter: Zero-based number of the first record to return.
     * @return    Returns the DevicesConsentResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DevicesConsentResult> listExcludedDevices(
            final String accountName,
            final String startIndex) throws ApiException, IOException {
        return prepareListExcludedDevicesRequest(accountName, startIndex).execute();
    }

    /**
     * This consents endpoint retrieves a list of excluded devices in an account.
     * @param  accountName  Required parameter: Account identifier in "##########-#####".
     * @param  startIndex  Required parameter: Zero-based number of the first record to return.
     * @return    Returns the DevicesConsentResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DevicesConsentResult>> listExcludedDevicesAsync(
            final String accountName,
            final String startIndex) {
        try { 
            return prepareListExcludedDevicesRequest(accountName, startIndex).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listExcludedDevices.
     */
    private ApiCall<ApiResponse<DevicesConsentResult>, ApiException> prepareListExcludedDevicesRequest(
            final String accountName,
            final String startIndex) throws IOException {
        return new ApiCall.Builder<ApiResponse<DevicesConsentResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/consents/{accountName}/index/{startIndex}")
                        .templateParam(param -> param.key("accountName").value(accountName)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("startIndex").value(startIndex)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DevicesConsentResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}