/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.WNPRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.GetWirelessCoverageRequestFWA;
import com.verizon.m5gedge.models.WNPRequestResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class FixedWirelessQualificationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public FixedWirelessQualificationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Use this query for Fixed Wireless Qualification of an address. Network types include: LTE,
     * C-BAND and MMWAVE.
     * @param  body  Required parameter: Request for network coverage details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> domestic4GAnd5gFixedWirelessQualification(
            final GetWirelessCoverageRequestFWA body) throws ApiException, IOException {
        return prepareDomestic4GAnd5gFixedWirelessQualificationRequest(body).execute();
    }

    /**
     * Use this query for Fixed Wireless Qualification of an address. Network types include: LTE,
     * C-BAND and MMWAVE.
     * @param  body  Required parameter: Request for network coverage details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> domestic4GAnd5gFixedWirelessQualificationAsync(
            final GetWirelessCoverageRequestFWA body) {
        try { 
            return prepareDomestic4GAnd5gFixedWirelessQualificationRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for domestic4GAnd5gFixedWirelessQualification.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareDomestic4GAnd5gFixedWirelessQualificationRequest(
            final GetWirelessCoverageRequestFWA body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/intelligence/wireless-coverage")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}