/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.M5gBiRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.M5gBiRequestResponse;
import com.verizon.m5gedge.models.M5gBiactivateRequest;
import com.verizon.m5gedge.models.M5gBichangeRequest;
import com.verizon.m5gedge.models.M5gBideviceDetailsresponse;
import com.verizon.m5gedge.models.M5gBideviceId;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class M5gBIDeviceActionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public M5gBIDeviceActionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Uses the decive's Integrated Circuit Card Identification Number (ICCID) to retrive and
     * display the device's properties.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the M5gBideviceDetailsresponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<M5gBideviceDetailsresponse> businessInternetlistDeviceInformation(
            final M5gBideviceId body) throws ApiException, IOException {
        return prepareBusinessInternetlistDeviceInformationRequest(body).execute();
    }

    /**
     * Uses the decive's Integrated Circuit Card Identification Number (ICCID) to retrive and
     * display the device's properties.
     * @param  body  Required parameter: Device Profile Query
     * @return    Returns the M5gBideviceDetailsresponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<M5gBideviceDetailsresponse>> businessInternetlistDeviceInformationAsync(
            final M5gBideviceId body) {
        try { 
            return prepareBusinessInternetlistDeviceInformationRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for businessInternetlistDeviceInformation.
     */
    private ApiCall<ApiResponse<M5gBideviceDetailsresponse>, ApiException> prepareBusinessInternetlistDeviceInformationRequest(
            final M5gBideviceId body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<M5gBideviceDetailsresponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/actions/list")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, M5gBideviceDetailsresponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new M5gBiRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Uses the device's ICCID and IMEI to activate service.
     * @param  body  Required parameter: Activate 5G BI service. Defining
     *         &lt;code&gt;publicIpRestriction&lt;/code&gt; as "Unrestricted" or "Restricted" is
     *         required for activating as Public Static. Leave
     *         &lt;code&gt;publicIpRestriction&lt;/code&gt; undefined to activate as Public Dynamic.
     *         Removing &lt;code&gt;publicIpRestriction&lt;/code&gt; from the request will activate
     *         as Mobile Private Network (MPN).
     * @return    Returns the M5gBiRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<M5gBiRequestResponse> businessInternetactivateUsingPOST(
            final M5gBiactivateRequest body) throws ApiException, IOException {
        return prepareBusinessInternetactivateUsingPOSTRequest(body).execute();
    }

    /**
     * Uses the device's ICCID and IMEI to activate service.
     * @param  body  Required parameter: Activate 5G BI service. Defining
     *         &lt;code&gt;publicIpRestriction&lt;/code&gt; as "Unrestricted" or "Restricted" is
     *         required for activating as Public Static. Leave
     *         &lt;code&gt;publicIpRestriction&lt;/code&gt; undefined to activate as Public Dynamic.
     *         Removing &lt;code&gt;publicIpRestriction&lt;/code&gt; from the request will activate
     *         as Mobile Private Network (MPN).
     * @return    Returns the M5gBiRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<M5gBiRequestResponse>> businessInternetactivateUsingPOSTAsync(
            final M5gBiactivateRequest body) {
        try { 
            return prepareBusinessInternetactivateUsingPOSTRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for businessInternetactivateUsingPOST.
     */
    private ApiCall<ApiResponse<M5gBiRequestResponse>, ApiException> prepareBusinessInternetactivateUsingPOSTRequest(
            final M5gBiactivateRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<M5gBiRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/actions/activate")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, M5gBiRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new M5gBiRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Change a device's service plan to use 5G BI.
     * @param  body  Required parameter: This endpoint is for use when changing a device's service
     *         plan to a 5G BI service plan. The service plan can change for an active device up to
     *         four times per month but will require address validation for each change. The service
     *         plan cannot be changed for a device while its service is suspended.
     * @return    Returns the M5gBiRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<M5gBiRequestResponse> businessInternetServiceplanchange(
            final M5gBichangeRequest body) throws ApiException, IOException {
        return prepareBusinessInternetServiceplanchangeRequest(body).execute();
    }

    /**
     * Change a device's service plan to use 5G BI.
     * @param  body  Required parameter: This endpoint is for use when changing a device's service
     *         plan to a 5G BI service plan. The service plan can change for an active device up to
     *         four times per month but will require address validation for each change. The service
     *         plan cannot be changed for a device while its service is suspended.
     * @return    Returns the M5gBiRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<M5gBiRequestResponse>> businessInternetServiceplanchangeAsync(
            final M5gBichangeRequest body) {
        try { 
            return prepareBusinessInternetServiceplanchangeRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for businessInternetServiceplanchange.
     */
    private ApiCall<ApiResponse<M5gBiRequestResponse>, ApiException> prepareBusinessInternetServiceplanchangeRequest(
            final M5gBichangeRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<M5gBiRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/actions/plan")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, M5gBiRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new M5gBiRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}