/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.RulesEngineRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.CreateTriggerV2Request;
import com.verizon.m5gedge.models.TriggerV2Response;
import com.verizon.m5gedge.models.UpdateTriggerV2Request;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class MV2TriggersController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public MV2TriggersController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This creates an individual change plan for account group share.
     * @param  body  Required parameter: Example:
     * @return    Returns the TriggerV2Response wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TriggerV2Response> createTrigger(
            final CreateTriggerV2Request body) throws ApiException, IOException {
        return prepareCreateTriggerRequest(body).execute();
    }

    /**
     * This creates an individual change plan for account group share.
     * @param  body  Required parameter: Example:
     * @return    Returns the TriggerV2Response wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TriggerV2Response>> createTriggerAsync(
            final CreateTriggerV2Request body) {
        try { 
            return prepareCreateTriggerRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for createTrigger.
     */
    private ApiCall<ApiResponse<TriggerV2Response>, ApiException> prepareCreateTriggerRequest(
            final CreateTriggerV2Request body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<TriggerV2Response>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v2/triggers")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TriggerV2Response.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error Response",
                                (reason, context) -> new RulesEngineRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This updates an individual change plan for account group share.
     * @param  vZM2mToken  Required parameter: M2M-MC Session Token
     * @param  body  Required parameter: Example:
     * @param  xRequestID  Optional parameter: Transaction Id
     * @return    Returns the TriggerV2Response wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<TriggerV2Response> updateTrigger(
            final String vZM2mToken,
            final UpdateTriggerV2Request body,
            final String xRequestID) throws ApiException, IOException {
        return prepareUpdateTriggerRequest(vZM2mToken, body, xRequestID).execute();
    }

    /**
     * This updates an individual change plan for account group share.
     * @param  vZM2mToken  Required parameter: M2M-MC Session Token
     * @param  body  Required parameter: Example:
     * @param  xRequestID  Optional parameter: Transaction Id
     * @return    Returns the TriggerV2Response wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<TriggerV2Response>> updateTriggerAsync(
            final String vZM2mToken,
            final UpdateTriggerV2Request body,
            final String xRequestID) {
        try { 
            return prepareUpdateTriggerRequest(vZM2mToken, body, xRequestID).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for updateTrigger.
     */
    private ApiCall<ApiResponse<TriggerV2Response>, ApiException> prepareUpdateTriggerRequest(
            final String vZM2mToken,
            final UpdateTriggerV2Request body,
            final String xRequestID) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<TriggerV2Response>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v2/triggers")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("VZ-M2M-Token")
                                .value(vZM2mToken).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Request-ID")
                                .value(xRequestID).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, TriggerV2Response.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error Response",
                                (reason, context) -> new RulesEngineRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}