/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.EdgePerformanceResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.MECPerformanceMetrics;
import com.verizon.m5gedge.models.QueryMECPerformanceMetricsRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class PerformanceMetricsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public PerformanceMetricsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Query the most recent data for Key Performance Indicators (KPIs) like network availability,
     * MEC hostnames and more.
     * @param  body  Optional parameter: Example:
     * @return    Returns the MECPerformanceMetrics wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<MECPerformanceMetrics> queryMECPerformanceMetrics(
            final QueryMECPerformanceMetricsRequest body) throws ApiException, IOException {
        return prepareQueryMECPerformanceMetricsRequest(body).execute();
    }

    /**
     * Query the most recent data for Key Performance Indicators (KPIs) like network availability,
     * MEC hostnames and more.
     * @param  body  Optional parameter: Example:
     * @return    Returns the MECPerformanceMetrics wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<MECPerformanceMetrics>> queryMECPerformanceMetricsAsync(
            final QueryMECPerformanceMetricsRequest body) {
        try { 
            return prepareQueryMECPerformanceMetricsRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for queryMECPerformanceMetrics.
     */
    private ApiCall<ApiResponse<MECPerformanceMetrics>, ApiException> prepareQueryMECPerformanceMetricsRequest(
            final QueryMECPerformanceMetricsRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<MECPerformanceMetrics>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.PERFORMANCE.value())
                        .path("/performance/device/network/metrics")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, MECPerformanceMetrics.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized request.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Request forbidden.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Resource Not Found.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .localErrorCase("405",
                                 ErrorCase.setReason("Method Not Allowed.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Service Unavailable.",
                                (reason, context) -> new EdgePerformanceResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}