/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.ConnectivityManagementResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.ServicePlan;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ServicePlansController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ServicePlansController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Returns a list of all data service plans that are associated with a specified billing
     * account. When you send a request to /devices/actions/activate to activate a line of service
     * you must specify the code for one of the service plans associated with your account.
     * @param  aname  Required parameter: Account name.
     * @return    Returns the List of ServicePlan wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<ServicePlan>> listAccountServicePlans(
            final String aname) throws ApiException, IOException {
        return prepareListAccountServicePlansRequest(aname).execute();
    }

    /**
     * Returns a list of all data service plans that are associated with a specified billing
     * account. When you send a request to /devices/actions/activate to activate a line of service
     * you must specify the code for one of the service plans associated with your account.
     * @param  aname  Required parameter: Account name.
     * @return    Returns the List of ServicePlan wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<ServicePlan>>> listAccountServicePlansAsync(
            final String aname) {
        try { 
            return prepareListAccountServicePlansRequest(aname).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listAccountServicePlans.
     */
    private ApiCall<ApiResponse<List<ServicePlan>>, ApiException> prepareListAccountServicePlansRequest(
            final String aname) throws IOException {
        return new ApiCall.Builder<ApiResponse<List<ServicePlan>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/plans/{aname}")
                        .templateParam(param -> param.key("aname").value(aname)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        ServicePlan[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}