/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.ConnectivityManagementResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.LogInRequest;
import com.verizon.m5gedge.models.LogInResult;
import com.verizon.m5gedge.models.LogOutRequest;
import com.verizon.m5gedge.models.SessionResetPasswordRequest;
import com.verizon.m5gedge.models.SessionResetPasswordResult;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SessionManagementController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SessionManagementController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Initiates a Connectivity Management session and returns a VZ-M2M session token that is
     * required in subsequent API requests.
     * @param  body  Optional parameter: Request to initiate a session.
     * @return    Returns the LogInResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<LogInResult> startConnectivityManagementSession(
            final LogInRequest body) throws ApiException, IOException {
        return prepareStartConnectivityManagementSessionRequest(body).execute();
    }

    /**
     * Initiates a Connectivity Management session and returns a VZ-M2M session token that is
     * required in subsequent API requests.
     * @param  body  Optional parameter: Request to initiate a session.
     * @return    Returns the LogInResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<LogInResult>> startConnectivityManagementSessionAsync(
            final LogInRequest body) {
        try { 
            return prepareStartConnectivityManagementSessionRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for startConnectivityManagementSession.
     */
    private ApiCall<ApiResponse<LogInResult>, ApiException> prepareStartConnectivityManagementSessionRequest(
            final LogInRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<LogInResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/session/login")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, LogInResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Ends a Connectivity Management session.
     * @return    Returns the LogOutRequest wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<LogOutRequest> endConnectivityManagementSession() throws ApiException, IOException {
        return prepareEndConnectivityManagementSessionRequest().execute();
    }

    /**
     * Ends a Connectivity Management session.
     * @return    Returns the LogOutRequest wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<LogOutRequest>> endConnectivityManagementSessionAsync() {
        try { 
            return prepareEndConnectivityManagementSessionRequest().executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for endConnectivityManagementSession.
     */
    private ApiCall<ApiResponse<LogOutRequest>, ApiException> prepareEndConnectivityManagementSessionRequest() throws IOException {
        return new ApiCall.Builder<ApiResponse<LogOutRequest>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/session/logout")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, LogOutRequest.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * The new password is effective immediately. Passwords do not expire, but Verizon recommends
     * changing your password every 90 days.
     * @param  body  Required parameter: Request with current password that needs to be reset.
     * @return    Returns the SessionResetPasswordResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<SessionResetPasswordResult> resetConnectivityManagementPassword(
            final SessionResetPasswordRequest body) throws ApiException, IOException {
        return prepareResetConnectivityManagementPasswordRequest(body).execute();
    }

    /**
     * The new password is effective immediately. Passwords do not expire, but Verizon recommends
     * changing your password every 90 days.
     * @param  body  Required parameter: Request with current password that needs to be reset.
     * @return    Returns the SessionResetPasswordResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<SessionResetPasswordResult>> resetConnectivityManagementPasswordAsync(
            final SessionResetPasswordRequest body) {
        try { 
            return prepareResetConnectivityManagementPasswordRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for resetConnectivityManagementPassword.
     */
    private ApiCall<ApiResponse<SessionResetPasswordResult>, ApiException> prepareResetConnectivityManagementPasswordRequest(
            final SessionResetPasswordRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<SessionResetPasswordResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/session/password/actions/reset")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, SessionResetPasswordResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Error response.",
                                (reason, context) -> new ConnectivityManagementResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}