/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.FotaV1ResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.CallbackServiceEnum;
import com.verizon.m5gedge.models.FotaV1CallbackRegistrationRequest;
import com.verizon.m5gedge.models.FotaV1CallbackRegistrationResult;
import com.verizon.m5gedge.models.FotaV1SuccessResult;
import com.verizon.m5gedge.models.RegisteredCallbacks;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SoftwareManagementCallbacksV1Controller extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SoftwareManagementCallbacksV1Controller(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Returns the name and endpoint URL of the callback listening services registered for a given
     * account.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @return    Returns the List of RegisteredCallbacks wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<RegisteredCallbacks>> listRegisteredCallbacks(
            final String account) throws ApiException, IOException {
        return prepareListRegisteredCallbacksRequest(account).execute();
    }

    /**
     * Returns the name and endpoint URL of the callback listening services registered for a given
     * account.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @return    Returns the List of RegisteredCallbacks wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<RegisteredCallbacks>>> listRegisteredCallbacksAsync(
            final String account) {
        try { 
            return prepareListRegisteredCallbacksRequest(account).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for listRegisteredCallbacks.
     */
    private ApiCall<ApiResponse<List<RegisteredCallbacks>>, ApiException> prepareListRegisteredCallbacksRequest(
            final String account) throws IOException {
        return new ApiCall.Builder<ApiResponse<List<RegisteredCallbacks>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SOFTWARE_MANAGEMENT_V1.value())
                        .path("/callbacks/{account}")
                        .templateParam(param -> param.key("account").value(account)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        RegisteredCallbacks[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new FotaV1ResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Registers a URL to receive RESTful messages from a callback service when new firmware
     * versions are available and when upgrades start and finish.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @param  body  Required parameter: Callback details.
     * @return    Returns the FotaV1CallbackRegistrationResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<FotaV1CallbackRegistrationResult> registerCallback(
            final String account,
            final FotaV1CallbackRegistrationRequest body) throws ApiException, IOException {
        return prepareRegisterCallbackRequest(account, body).execute();
    }

    /**
     * Registers a URL to receive RESTful messages from a callback service when new firmware
     * versions are available and when upgrades start and finish.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @param  body  Required parameter: Callback details.
     * @return    Returns the FotaV1CallbackRegistrationResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<FotaV1CallbackRegistrationResult>> registerCallbackAsync(
            final String account,
            final FotaV1CallbackRegistrationRequest body) {
        try { 
            return prepareRegisterCallbackRequest(account, body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for registerCallback.
     */
    private ApiCall<ApiResponse<FotaV1CallbackRegistrationResult>, ApiException> prepareRegisterCallbackRequest(
            final String account,
            final FotaV1CallbackRegistrationRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<FotaV1CallbackRegistrationResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SOFTWARE_MANAGEMENT_V1.value())
                        .path("/callbacks/{account}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("account").value(account)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, FotaV1CallbackRegistrationResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new FotaV1ResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Deregisters the callback endpoint and stops ThingSpace from sending FOTA callback messages
     * for the specified account.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @param  service  Required parameter: Callback type. Must be 'Fota' for Software Management
     *         Services API.
     * @return    Returns the FotaV1SuccessResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<FotaV1SuccessResult> deregisterCallback(
            final String account,
            final CallbackServiceEnum service) throws ApiException, IOException {
        return prepareDeregisterCallbackRequest(account, service).execute();
    }

    /**
     * Deregisters the callback endpoint and stops ThingSpace from sending FOTA callback messages
     * for the specified account.
     * @param  account  Required parameter: Account identifier in "##########-#####".
     * @param  service  Required parameter: Callback type. Must be 'Fota' for Software Management
     *         Services API.
     * @return    Returns the FotaV1SuccessResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<FotaV1SuccessResult>> deregisterCallbackAsync(
            final String account,
            final CallbackServiceEnum service) {
        try { 
            return prepareDeregisterCallbackRequest(account, service).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deregisterCallback.
     */
    private ApiCall<ApiResponse<FotaV1SuccessResult>, ApiException> prepareDeregisterCallbackRequest(
            final String account,
            final CallbackServiceEnum service) throws IOException {
        return new ApiCall.Builder<ApiResponse<FotaV1SuccessResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SOFTWARE_MANAGEMENT_V1.value())
                        .path("/callbacks/{account}/name/{service}")
                        .templateParam(param -> param.key("account").value(account)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("service").value((service != null) ? service.value() : null)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, FotaV1SuccessResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new FotaV1ResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}