/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.FotaV2ResultException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.FotaV2SubscrIpTion;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SoftwareManagementSubscrIpTionsV2Controller extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SoftwareManagementSubscrIpTionsV2Controller(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint retrieves a FOTA subscription by account.
     * @param  account  Required parameter: Account identifier.
     * @return    Returns the FotaV2SubscrIpTion wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<FotaV2SubscrIpTion> getAccountSubscrIpTionStatus(
            final String account) throws ApiException, IOException {
        return prepareGetAccountSubscrIpTionStatusRequest(account).execute();
    }

    /**
     * This endpoint retrieves a FOTA subscription by account.
     * @param  account  Required parameter: Account identifier.
     * @return    Returns the FotaV2SubscrIpTion wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<FotaV2SubscrIpTion>> getAccountSubscrIpTionStatusAsync(
            final String account) {
        try { 
            return prepareGetAccountSubscrIpTionStatusRequest(account).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for getAccountSubscrIpTionStatus.
     */
    private ApiCall<ApiResponse<FotaV2SubscrIpTion>, ApiException> prepareGetAccountSubscrIpTionStatusRequest(
            final String account) throws IOException {
        return new ApiCall.Builder<ApiResponse<FotaV2SubscrIpTion>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SOFTWARE_MANAGEMENT_V2.value())
                        .path("/subscriptions/{account}")
                        .templateParam(param -> param.key("account").value(account)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .authenticationKey(BaseController.AUTHENTICATION_KEY)
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, FotaV2SubscrIpTion.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new FotaV2ResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}