/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.m5gedge.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.m5gedge.ApiHelper;
import com.verizon.m5gedge.Server;
import com.verizon.m5gedge.exceptions.ApiException;
import com.verizon.m5gedge.exceptions.WNPRestErrorResponseException;
import com.verizon.m5gedge.http.request.HttpMethod;
import com.verizon.m5gedge.http.response.ApiResponse;
import com.verizon.m5gedge.models.GetDeviceExperienceScoreBulkRequest;
import com.verizon.m5gedge.models.GetDeviceExperienceScoreHistoryRequest;
import com.verizon.m5gedge.models.GetNetworkConditionsRequest;
import com.verizon.m5gedge.models.GetWirelessCoverageRequest;
import com.verizon.m5gedge.models.WNPRequestResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class WirelessNetworkPerformanceController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public WirelessNetworkPerformanceController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * WNP Query for current network condition.
     * @param  body  Required parameter: Request for current network health.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> nearRealTimeNetworkConditions(
            final GetNetworkConditionsRequest body) throws ApiException, IOException {
        return prepareNearRealTimeNetworkConditionsRequest(body).execute();
    }

    /**
     * WNP Query for current network condition.
     * @param  body  Required parameter: Request for current network health.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> nearRealTimeNetworkConditionsAsync(
            final GetNetworkConditionsRequest body) {
        try { 
            return prepareNearRealTimeNetworkConditionsRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for nearRealTimeNetworkConditions.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareNearRealTimeNetworkConditionsRequest(
            final GetNetworkConditionsRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/intelligence/network-conditions")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Run a report to determine network types available and available coverage. Network types
     * covered include: CAT-M, NB-IOT, LTE, LTE-AWS and 5GNW.
     * @param  body  Required parameter: Request for network coverage details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> domestic4GAnd5gNationwideNetworkCoverage(
            final GetWirelessCoverageRequest body) throws ApiException, IOException {
        return prepareDomestic4GAnd5gNationwideNetworkCoverageRequest(body).execute();
    }

    /**
     * Run a report to determine network types available and available coverage. Network types
     * covered include: CAT-M, NB-IOT, LTE, LTE-AWS and 5GNW.
     * @param  body  Required parameter: Request for network coverage details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> domestic4GAnd5gNationwideNetworkCoverageAsync(
            final GetWirelessCoverageRequest body) {
        try { 
            return prepareDomestic4GAnd5gNationwideNetworkCoverageRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for domestic4GAnd5gNationwideNetworkCoverage.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareDomestic4GAnd5gNationwideNetworkCoverageRequest(
            final GetWirelessCoverageRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/intelligence/wireless-coverage")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Identify the direction and general distance of nearby cell sites and the technology supported
     * by the equipment.
     * @param  body  Required parameter: Request for cell site proximity.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> siteProximity(
            final GetNetworkConditionsRequest body) throws ApiException, IOException {
        return prepareSiteProximityRequest(body).execute();
    }

    /**
     * Identify the direction and general distance of nearby cell sites and the technology supported
     * by the equipment.
     * @param  body  Required parameter: Request for cell site proximity.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> siteProximityAsync(
            final GetNetworkConditionsRequest body) {
        try { 
            return prepareSiteProximityRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for siteProximity.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareSiteProximityRequest(
            final GetNetworkConditionsRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/intelligence/site-proximity/action/list")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * A report of a specific device's service scores over a 30 day period.
     * @param  body  Required parameter: Request for a device's 30 day experience.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> deviceExperience30daysHistory(
            final GetDeviceExperienceScoreHistoryRequest body) throws ApiException, IOException {
        return prepareDeviceExperience30daysHistoryRequest(body).execute();
    }

    /**
     * A report of a specific device's service scores over a 30 day period.
     * @param  body  Required parameter: Request for a device's 30 day experience.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> deviceExperience30daysHistoryAsync(
            final GetDeviceExperienceScoreHistoryRequest body) {
        try { 
            return prepareDeviceExperience30daysHistoryRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deviceExperience30daysHistory.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareDeviceExperience30daysHistoryRequest(
            final GetDeviceExperienceScoreHistoryRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/intelligence/device-experience/history/30-days")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Run a report to view the latest device experience score for specific devices.
     * @param  body  Required parameter: Request for bulk latest history details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<WNPRequestResponse> deviceExperienceBulkLatest(
            final GetDeviceExperienceScoreBulkRequest body) throws ApiException, IOException {
        return prepareDeviceExperienceBulkLatestRequest(body).execute();
    }

    /**
     * Run a report to view the latest device experience score for specific devices.
     * @param  body  Required parameter: Request for bulk latest history details.
     * @return    Returns the WNPRequestResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<WNPRequestResponse>> deviceExperienceBulkLatestAsync(
            final GetDeviceExperienceScoreBulkRequest body) {
        try { 
            return prepareDeviceExperienceBulkLatestRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for deviceExperienceBulkLatest.
     */
    private ApiCall<ApiResponse<WNPRequestResponse>, ApiException> prepareDeviceExperienceBulkLatestRequest(
            final GetDeviceExperienceScoreBulkRequest body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ApiResponse<WNPRequestResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/m2m/v1/intelligence/device-experience/bulk/latest")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("oAuth2"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, WNPRequestResponse.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new WNPRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}