/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.AuthRestErrorResponseforplannerException;
import com.verizon.thingspace.exceptions.RestErrorResponseforplannerException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.GetAccountInformationResponseforplanner;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AccountServiceController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public AccountServiceController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Returns aaccount information associated with a specified account.
     * @param  accountName  Required parameter: The account's numeric name, including leading
     *         zeroes.
     * @return    Returns the GetAccountInformationResponseforplanner wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GetAccountInformationResponseforplanner> getAccountInformationUsingGET(
            final String accountName) throws ApiException, IOException {
        return prepareGetAccountInformationUsingGETRequest(accountName).execute();
    }

    /**
     * Returns aaccount information associated with a specified account.
     * @param  accountName  Required parameter: The account's numeric name, including leading
     *         zeroes.
     * @return    Returns the GetAccountInformationResponseforplanner wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GetAccountInformationResponseforplanner>> getAccountInformationUsingGETAsync(
            final String accountName) {
        try {
            return prepareGetAccountInformationUsingGETRequest(accountName).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getAccountInformationUsingGET.
     */
    private ApiCall<ApiResponse<GetAccountInformationResponseforplanner>, ApiException> prepareGetAccountInformationUsingGETRequest(
            final String accountName) {
        return new ApiCall.Builder<ApiResponse<GetAccountInformationResponseforplanner>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/v1/accounts/{accountName}")
                        .templateParam(param -> param.key("accountName").value(accountName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GetAccountInformationResponseforplanner.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new AuthRestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}