/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.ErrorResponseException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.CredentialsRequest;
import com.verizon.thingspace.models.DropResponse;
import com.verizon.thingspace.models.GenerateResponse;
import com.verizon.thingspace.models.RetrieveResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DeviceCredentialManagementController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DeviceCredentialManagementController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the RetrieveResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<RetrieveResponse> retrieveCredentials(
            final CredentialsRequest body) throws ApiException, IOException {
        return prepareRetrieveCredentialsRequest(body).execute();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the RetrieveResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<RetrieveResponse>> retrieveCredentialsAsync(
            final CredentialsRequest body) {
        try {
            return prepareRetrieveCredentialsRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for retrieveCredentials.
     */
    private ApiCall<ApiResponse<RetrieveResponse>, ApiException> prepareRetrieveCredentialsRequest(
            final CredentialsRequest body) {
        return new ApiCall.Builder<ApiResponse<RetrieveResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.HYPER_PRECISE_CREDENTIALS.value())
                        .path("/credentials/retrieve")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, RetrieveResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request / Verification Failure",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the GenerateResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GenerateResponse> generateCredentials(
            final CredentialsRequest body) throws ApiException, IOException {
        return prepareGenerateCredentialsRequest(body).execute();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the GenerateResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GenerateResponse>> generateCredentialsAsync(
            final CredentialsRequest body) {
        try {
            return prepareGenerateCredentialsRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateCredentials.
     */
    private ApiCall<ApiResponse<GenerateResponse>, ApiException> prepareGenerateCredentialsRequest(
            final CredentialsRequest body) {
        return new ApiCall.Builder<ApiResponse<GenerateResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.HYPER_PRECISE_CREDENTIALS.value())
                        .path("/credentials/generate")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GenerateResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the GenerateResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GenerateResponse> resetCredentials(
            final CredentialsRequest body) throws ApiException, IOException {
        return prepareResetCredentialsRequest(body).execute();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the GenerateResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GenerateResponse>> resetCredentialsAsync(
            final CredentialsRequest body) {
        try {
            return prepareResetCredentialsRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for resetCredentials.
     */
    private ApiCall<ApiResponse<GenerateResponse>, ApiException> prepareResetCredentialsRequest(
            final CredentialsRequest body) {
        return new ApiCall.Builder<ApiResponse<GenerateResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.HYPER_PRECISE_CREDENTIALS.value())
                        .path("/credentials/reset")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GenerateResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the DropResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DropResponse> dropCredentials(
            final CredentialsRequest body) throws ApiException, IOException {
        return prepareDropCredentialsRequest(body).execute();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the DropResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DropResponse>> dropCredentialsAsync(
            final CredentialsRequest body) {
        try {
            return prepareDropCredentialsRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for dropCredentials.
     */
    private ApiCall<ApiResponse<DropResponse>, ApiException> prepareDropCredentialsRequest(
            final CredentialsRequest body) {
        return new ApiCall.Builder<ApiResponse<DropResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.HYPER_PRECISE_CREDENTIALS.value())
                        .path("/credentials/drop")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DropResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}