/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.DeviceLocationResultException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.BillUsageRequest;
import com.verizon.thingspace.models.DeviceLocationSubscription;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DevicesLocationSubscriptionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DevicesLocationSubscriptionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This subscriptions endpoint retrieves an account's current location subscription status.
     * @param  accountName  Required parameter: Account identifier in "##########-#####".
     * @return    Returns the DeviceLocationSubscription wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeviceLocationSubscription> getLocationServiceSubscriptionStatus(
            final String accountName) throws ApiException, IOException {
        return prepareGetLocationServiceSubscriptionStatusRequest(accountName).execute();
    }

    /**
     * This subscriptions endpoint retrieves an account's current location subscription status.
     * @param  accountName  Required parameter: Account identifier in "##########-#####".
     * @return    Returns the DeviceLocationSubscription wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeviceLocationSubscription>> getLocationServiceSubscriptionStatusAsync(
            final String accountName) {
        try {
            return prepareGetLocationServiceSubscriptionStatusRequest(accountName).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getLocationServiceSubscriptionStatus.
     */
    private ApiCall<ApiResponse<DeviceLocationSubscription>, ApiException> prepareGetLocationServiceSubscriptionStatusRequest(
            final String accountName) {
        return new ApiCall.Builder<ApiResponse<DeviceLocationSubscription>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/subscriptions/{accountName}")
                        .templateParam(param -> param.key("accountName").value(accountName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeviceLocationSubscription.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint allows user to search for billable usage for accounts based on the provided
     * date range.
     * @param  body  Required parameter: Request to obtain billable usage for accounts.
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Object> getLocationServiceUsage(
            final BillUsageRequest body) throws ApiException, IOException {
        return prepareGetLocationServiceUsageRequest(body).execute();
    }

    /**
     * This endpoint allows user to search for billable usage for accounts based on the provided
     * date range.
     * @param  body  Required parameter: Request to obtain billable usage for accounts.
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Object>> getLocationServiceUsageAsync(
            final BillUsageRequest body) {
        try {
            return prepareGetLocationServiceUsageRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getLocationServiceUsage.
     */
    private ApiCall<ApiResponse<Object>, ApiException> prepareGetLocationServiceUsageRequest(
            final BillUsageRequest body) {
        return new ApiCall.Builder<ApiResponse<Object>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.DEVICE_LOCATION.value())
                        .path("/usage")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("*/*").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> response)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}