/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.DeviceRole;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DeviceRoleController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DeviceRoleController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This API allows the user to get the access control rules defined for them.
     * @param  vendorID  Required parameter: The user's Vendor ID
     * @return    Returns the List of DeviceRole wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DeviceRole>> getACLRulesByVendorId(
            final String vendorID) throws ApiException, IOException {
        return prepareGetACLRulesByVendorIdRequest(vendorID).execute();
    }

    /**
     * This API allows the user to get the access control rules defined for them.
     * @param  vendorID  Required parameter: The user's Vendor ID
     * @return    Returns the List of DeviceRole wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DeviceRole>>> getACLRulesByVendorIdAsync(
            final String vendorID) {
        try {
            return prepareGetACLRulesByVendorIdRequest(vendorID).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getACLRulesByVendorId.
     */
    private ApiCall<ApiResponse<List<DeviceRole>>, ApiException> prepareGetACLRulesByVendorIdRequest(
            final String vendorID) {
        return new ApiCall.Builder<ApiResponse<List<DeviceRole>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v1/device-roles/vendor")
                        .queryParam(param -> param.key("VendorID")
                                .value(vendorID))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DeviceRole[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Not Acceptable",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("unexpected error",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}