/*
 * VerizonThingSpaceQualityOfServiceAPIEndpointsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.DeviceLocationResultException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.models.AccountConsentCreate;
import com.verizon.thingspace.models.ConsentTransactionID;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ExclusionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ExclusionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a consent record to use location services as an asynchronous request.
     * @param  body  Optional parameter: Account details to create a consent record.
     * @return    Returns the ConsentTransactionID response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ConsentTransactionID devicesLocationGiveConsentAsync(
            final AccountConsentCreate body) throws ApiException, IOException {
        return prepareDevicesLocationGiveConsentAsyncRequest(body).execute();
    }

    /**
     * Create a consent record to use location services as an asynchronous request.
     * @param  body  Optional parameter: Account details to create a consent record.
     * @return    Returns the ConsentTransactionID response from the API call
     */
    public CompletableFuture<ConsentTransactionID> devicesLocationGiveConsentAsyncAsync(
            final AccountConsentCreate body) {
        try { 
            return prepareDevicesLocationGiveConsentAsyncRequest(body).executeAsync(); 
        } catch (Exception e) {  
            throw new CompletionException(e); 
        }
    }

    /**
     * Builds the ApiCall object for devicesLocationGiveConsentAsync.
     */
    private ApiCall<ConsentTransactionID, ApiException> prepareDevicesLocationGiveConsentAsyncRequest(
            final AccountConsentCreate body) throws JsonProcessingException, IOException {
        return new ApiCall.Builder<ConsentTransactionID, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/devicelocations/action/consents")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("vz-m2m-session_token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ConsentTransactionID.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new DeviceLocationResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}