/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.AuthRestErrorResponseforplannerException;
import com.verizon.thingspace.exceptions.RestErrorResponseforplannerException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.AsynchronousRequestResultforplanner;
import com.verizon.thingspace.models.GetDeviceStatusesRequestforplanner;
import com.verizon.thingspace.models.GetDeviceStatusesResponseforplanner;
import com.verizon.thingspace.models.GetDevicesWindowsRequestforplanner;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class IntelligenceServiceController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public IntelligenceServiceController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves available device windows for Connection Planner.
     * @param  body  Optional parameter:
     * @return    Returns the AsynchronousRequestResultforplanner wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<AsynchronousRequestResultforplanner> setConnectionPlanner(
            final GetDevicesWindowsRequestforplanner body) throws ApiException, IOException {
        return prepareSetConnectionPlannerRequest(body).execute();
    }

    /**
     * Retrieves available device windows for Connection Planner.
     * @param  body  Optional parameter:
     * @return    Returns the AsynchronousRequestResultforplanner wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<AsynchronousRequestResultforplanner>> setConnectionPlannerAsync(
            final GetDevicesWindowsRequestforplanner body) {
        try {
            return prepareSetConnectionPlannerRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for setConnectionPlanner.
     */
    private ApiCall<ApiResponse<AsynchronousRequestResultforplanner>, ApiException> prepareSetConnectionPlannerRequest(
            final GetDevicesWindowsRequestforplanner body) {
        return new ApiCall.Builder<ApiResponse<AsynchronousRequestResultforplanner>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/v1/intelligence/device/connection-planner")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, AsynchronousRequestResultforplanner.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new AuthRestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Retrieves the device status for the Connection Planner service.
     * @param  body  Optional parameter:
     * @return    Returns the GetDeviceStatusesResponseforplanner wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GetDeviceStatusesResponseforplanner> statusConnectionPlanner(
            final GetDeviceStatusesRequestforplanner body) throws ApiException, IOException {
        return prepareStatusConnectionPlannerRequest(body).execute();
    }

    /**
     * Retrieves the device status for the Connection Planner service.
     * @param  body  Optional parameter:
     * @return    Returns the GetDeviceStatusesResponseforplanner wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GetDeviceStatusesResponseforplanner>> statusConnectionPlannerAsync(
            final GetDeviceStatusesRequestforplanner body) {
        try {
            return prepareStatusConnectionPlannerRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for statusConnectionPlanner.
     */
    private ApiCall<ApiResponse<GetDeviceStatusesResponseforplanner>, ApiException> prepareStatusConnectionPlannerRequest(
            final GetDeviceStatusesRequestforplanner body) {
        return new ApiCall.Builder<ApiResponse<GetDeviceStatusesResponseforplanner>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/v1/intelligence/device/connection-planner/status")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GetDeviceStatusesResponseforplanner.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad request",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new AuthRestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found / Does not exist",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("406",
                                 ErrorCase.setReason("Format / Request Unacceptable",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new RestErrorResponseforplannerException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}