/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.RuleRestErrorResponseException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.Rateplan;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class RetrieveRatePlanListController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public RetrieveRatePlanListController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieves the rate plans and rate plan details for a profile ID.
     * @param  ecpdId  Required parameter: The Enterprise Customer Profile Database ID. This is the
     *         same as the accountName value
     * @return    Returns the Rateplan wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Rateplan> getRatePlanList(
            final String ecpdId) throws ApiException, IOException {
        return prepareGetRatePlanListRequest(ecpdId).execute();
    }

    /**
     * Retrieves the rate plans and rate plan details for a profile ID.
     * @param  ecpdId  Required parameter: The Enterprise Customer Profile Database ID. This is the
     *         same as the accountName value
     * @return    Returns the Rateplan wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Rateplan>> getRatePlanListAsync(
            final String ecpdId) {
        try {
            return prepareGetRatePlanListRequest(ecpdId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getRatePlanList.
     */
    private ApiCall<ApiResponse<Rateplan>, ApiException> prepareGetRatePlanListRequest(
            final String ecpdId) {
        return new ApiCall.Builder<ApiResponse<Rateplan>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/v2/triggers/rateplanlist/{ecpdId}")
                        .templateParam(param -> param.key("ecpdId").value(ecpdId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .or(orAuth -> orAuth
                                        .add("thingspace_oauth1")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Rateplan.class))
                        .nullify404(false)
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Error response",
                                (reason, context) -> new RuleRestErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}