/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.M400ManagementErrorException;
import com.verizon.thingspace.exceptions.M403ManagementErrorException;
import com.verizon.thingspace.exceptions.M500ManagementErrorException;
import com.verizon.thingspace.exceptions.ManagementErrorException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.DtoQueryMetrics;
import com.verizon.thingspace.models.DtoQueryMetricsResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SensorInsightsSmartAlertMetricsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SensorInsightsSmartAlertMetricsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Get Device Alerts for the most recent daily period, up to 30 days.
     * @param  body  Required parameter: Daily period requested, up to 30 days.
     * @return    Returns the DtoQueryMetricsResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DtoQueryMetricsResponse> sensorinsightsmetricsquery(
            final DtoQueryMetrics body) throws ApiException, IOException {
        return prepareSensorinsightsmetricsqueryRequest(body).execute();
    }

    /**
     * Get Device Alerts for the most recent daily period, up to 30 days.
     * @param  body  Required parameter: Daily period requested, up to 30 days.
     * @return    Returns the DtoQueryMetricsResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DtoQueryMetricsResponse>> sensorinsightsmetricsqueryAsync(
            final DtoQueryMetrics body) {
        try {
            return prepareSensorinsightsmetricsqueryRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for sensorinsightsmetricsquery.
     */
    private ApiCall<ApiResponse<DtoQueryMetricsResponse>, ApiException> prepareSensorinsightsmetricsqueryRequest(
            final DtoQueryMetrics body) {
        return new ApiCall.Builder<ApiResponse<DtoQueryMetricsResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/dm/v1/smartAlerts/actions/metrics")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DtoQueryMetricsResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new M400ManagementErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("UnAuthorized",
                                (reason, context) -> new ManagementErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new M403ManagementErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server error.",
                                (reason, context) -> new M500ManagementErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}