/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.M400ManagementErrorException;
import com.verizon.thingspace.exceptions.M403ManagementErrorException;
import com.verizon.thingspace.exceptions.M500ManagementErrorException;
import com.verizon.thingspace.exceptions.ManagementErrorException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.DtoConfigurationProfile;
import com.verizon.thingspace.models.DtoConfigurationProfileDelete;
import com.verizon.thingspace.models.DtoConfigurationProfilePath;
import com.verizon.thingspace.models.DtoProfileResponse;
import com.verizon.thingspace.models.ResourceResourceQuery;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SensorInsightsDeviceProfileController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SensorInsightsDeviceProfileController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a device profile.
     * @param  body  Required parameter:
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DtoProfileResponse>> createAProfile(
            final DtoConfigurationProfile body) throws ApiException, IOException {
        return prepareCreateAProfileRequest(body).execute();
    }

    /**
     * Create a device profile.
     * @param  body  Required parameter:
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DtoProfileResponse>>> createAProfileAsync(
            final DtoConfigurationProfile body) {
        try {
            return prepareCreateAProfileRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createAProfile.
     */
    private ApiCall<ApiResponse<List<DtoProfileResponse>>, ApiException> prepareCreateAProfileRequest(
            final DtoConfigurationProfile body) {
        return new ApiCall.Builder<ApiResponse<List<DtoProfileResponse>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/dm/v1/deviceConfigurationProfiles")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DtoProfileResponse[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new M400ManagementErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("UnAuthorized",
                                (reason, context) -> new ManagementErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new M403ManagementErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server error.",
                                (reason, context) -> new M500ManagementErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete a device profile.
     * @param  deleterequest  Required parameter: payload for the delete request
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DtoProfileResponse>> deleteAProfile(
            final DtoConfigurationProfileDelete deleterequest) throws ApiException, IOException {
        return prepareDeleteAProfileRequest(deleterequest).execute();
    }

    /**
     * Delete a device profile.
     * @param  deleterequest  Required parameter: payload for the delete request
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DtoProfileResponse>>> deleteAProfileAsync(
            final DtoConfigurationProfileDelete deleterequest) {
        try {
            return prepareDeleteAProfileRequest(deleterequest).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteAProfile.
     */
    private ApiCall<ApiResponse<List<DtoProfileResponse>>, ApiException> prepareDeleteAProfileRequest(
            final DtoConfigurationProfileDelete deleterequest) {
        return new ApiCall.Builder<ApiResponse<List<DtoProfileResponse>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/dm/v1/deviceConfigurationProfiles")
                        .headerParam(param -> param.key("deleterequest")
                                .value(deleterequest).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DtoProfileResponse[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new M400ManagementErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("UnAuthorized",
                                (reason, context) -> new ManagementErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new M403ManagementErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server error.",
                                (reason, context) -> new M500ManagementErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Partially update a device profile.
     * @param  body  Required parameter:
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DtoProfileResponse>> updateAProfile(
            final DtoConfigurationProfilePath body) throws ApiException, IOException {
        return prepareUpdateAProfileRequest(body).execute();
    }

    /**
     * Partially update a device profile.
     * @param  body  Required parameter:
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DtoProfileResponse>>> updateAProfileAsync(
            final DtoConfigurationProfilePath body) {
        try {
            return prepareUpdateAProfileRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updateAProfile.
     */
    private ApiCall<ApiResponse<List<DtoProfileResponse>>, ApiException> prepareUpdateAProfileRequest(
            final DtoConfigurationProfilePath body) {
        return new ApiCall.Builder<ApiResponse<List<DtoProfileResponse>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/dm/v1/deviceConfigurationProfiles")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DtoProfileResponse[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new M400ManagementErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("UnAuthorized",
                                (reason, context) -> new ManagementErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new M403ManagementErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server error.",
                                (reason, context) -> new M500ManagementErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Query a device profile for an individual device.
     * @param  body  Required parameter: body
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DtoProfileResponse>> queryAProfile(
            final ResourceResourceQuery body) throws ApiException, IOException {
        return prepareQueryAProfileRequest(body).execute();
    }

    /**
     * Query a device profile for an individual device.
     * @param  body  Required parameter: body
     * @return    Returns the List of DtoProfileResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DtoProfileResponse>>> queryAProfileAsync(
            final ResourceResourceQuery body) {
        try {
            return prepareQueryAProfileRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for queryAProfile.
     */
    private ApiCall<ApiResponse<List<DtoProfileResponse>>, ApiException> prepareQueryAProfileRequest(
            final ResourceResourceQuery body) {
        return new ApiCall.Builder<ApiResponse<List<DtoProfileResponse>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.THINGSPACE.value())
                        .path("/dm/v1/deviceConfigurationProfiles/actions/query")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DtoProfileResponse[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new M400ManagementErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("UnAuthorized",
                                (reason, context) -> new ManagementErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new M403ManagementErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server error.",
                                (reason, context) -> new M500ManagementErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}