/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.FotaV2ResultException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.CheckInHistoryItem;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ServerLoggingController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ServerLoggingController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Check-in history can be retrieved for any device belonging to the account, not necessarily
     * with logging enabled.
     * @param  account  Required parameter: Account identifier.
     * @param  deviceId  Required parameter: Device IMEI identifier.
     * @return    Returns the List of CheckInHistoryItem wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<CheckInHistoryItem>> getDeviceCheckInHistory(
            final String account,
            final String deviceId) throws ApiException, IOException {
        return prepareGetDeviceCheckInHistoryRequest(account, deviceId).execute();
    }

    /**
     * Check-in history can be retrieved for any device belonging to the account, not necessarily
     * with logging enabled.
     * @param  account  Required parameter: Account identifier.
     * @param  deviceId  Required parameter: Device IMEI identifier.
     * @return    Returns the List of CheckInHistoryItem wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<CheckInHistoryItem>>> getDeviceCheckInHistoryAsync(
            final String account,
            final String deviceId) {
        try {
            return prepareGetDeviceCheckInHistoryRequest(account, deviceId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getDeviceCheckInHistory.
     */
    private ApiCall<ApiResponse<List<CheckInHistoryItem>>, ApiException> prepareGetDeviceCheckInHistoryRequest(
            final String account,
            final String deviceId) {
        return new ApiCall.Builder<ApiResponse<List<CheckInHistoryItem>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SOFTWARE_MANAGEMENT_V2.value())
                        .path("/logging/{account}/devices/{deviceId}/checkInHistory")
                        .templateParam(param -> param.key("account").value(account)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("deviceId").value(deviceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("VZ-M2M-Token")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        CheckInHistoryItem[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Unexpected error.",
                                (reason, context) -> new FotaV2ResultException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}